/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  /* Body is the height of the viewport */
  overflow: hidden;
  /* Hide anything that goes off the window size*/
  background-color: darkgrey;
}

p {
  color: red;
  margin-left: 10px;
}

.grid {
  width: 100vw;
  padding: 5vmin;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5vh 40vh 10vh 30vh;
  grid-gap: 2vmin;
}

.window {
  background-color: black;
  border-style: solid;
  border-color: white;
  border-width: thin;
  padding: 20px;
}

.actionItem {
  display: block;
}

#interactionsWindow {
  width: 45vw;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

#logWindow {
  width: 45vw;
  grid-column: 1 / 2;
  grid-row: 4 / 4;
}

#nameWindow {
  width: 40vw;
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

#swatch {
  width: 40vw;
  grid-column: 2 / 2;
  grid-row: 2 / 3;
  background-color: grey;
}

#metersWindow {
  width: 40vw;
  grid-column: 2 / 2;
  grid-row: 3 / 5;
}

#btnReset {
  width: 80px;
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  margin-left: auto;
  margin-right: 70px;
}

img {
  display: block;
margin-left: auto;
margin-right: auto;
}

fieldset {
  border: 0;
}

label {
  display: block;
  margin: 30px 0 0 0;
}

.overflow {
  height: 200px;
}

progress {
    min-width: 400px;
    height: 25px;
    margin: 8px;
    display: block;
}

#log{
  height: 17vw;
  overflow:auto;
}
/* tests */

#red, #green, #blue {
    float: left;
    clear: left;
    width: 300px;
    margin: 15px;
  }
  /* #swatch {
    width: 120px;
    height: 100px;
  } */
  #red .ui-slider-range { background: #ef2929; }
  #red .ui-slider-handle { border-color: #ef2929; }
  #green .ui-slider-range { background: #8ae234; }
  #green .ui-slider-handle { border-color: #8ae234; }
  #blue .ui-slider-range { background: #729fcf; }
  #blue .ui-slider-handle { border-color: #729fcf; }
