@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* general display */
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #1d1f24;
}

/* general text font+color  */
p {
  color: white;
  margin-left: 10px;
  font-family: 'Roboto Mono', monospace;
}

/* overall grid layout  */
.grid {
  width: 100vw;
  padding: 5vmin;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5vh 40vh 10vh 30vh;
  grid-gap: 2vmin;
}

/* general windows display (black box with white border) */
.window {
  background-color: black;
  border-style: solid;
  border-color: white;
  border-width: thin;
  padding: 5px 20px 10px 20px;
}

/* Window (1): top left */
/* Interactions UI */
#interactionsWindow {
  width: 45vw;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

/* Window (2): top center */
/* Name Button */
#nameWindow {
  width: 40vw;
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  align-self: center;
}

/* Window (3): top right */
/* Pet Room */
#swatch {
  width: 40vw;
  grid-column: 2 / 2;
  grid-row: 2 / 3;
  display: grid;
  position: relative;
}

/* Window (4): bottom left */
/* Messages (activity history) */
#logWindow {
  width: 45vw;
  height: 95%;
  grid-column: 1 / 2;
  grid-row: 4 / 4;
}

/* Window (5): bottom right */
/* progress bars (hunger/mood/health) */
#metersWindow {
  width: 40vw;
  grid-column: 2 / 2;
  grid-row: 3 / 5;
}

/* Reset button (Top right) */
#btnReset {
  width: 80px;
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  margin-left: auto;
  margin-right: 70px;
}

/* pet image positioning */
#pet {
  display: block;
  grid-column: 1;
  grid-row: 1;
}

#eyes, #equip, #mouth{
grid-column: 1;
grid-row: 1;
}

#equip{
  z-index: 3
}

#mouth{
 z-index: 2
}

img{
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
}

/* color invert class */
.filter {
  filter: invert(1);
}

/* progress bars  */
progress {
  min-width: 90%;
  height: 25px;
  margin: 8px;
  display: block;
}

/* action history */
#log {
  height: 70%;
  overflow: auto;
}

/* Name Box */
#nameInput {
  font-size: 1.25em;
  color: black;
  background-color: white;
  height: 4vh;
  border: none;
}

/* Reset Button */
#btnReset {
  font-size: 1em;
  background: none;
  border: none;
}

/* Sliders positioning */
/* color sliders */
#red, #green, #blue {
  float: left;
  clear: left;
  margin: 10px;
}

/* Sliders Display */

/* slider width */
.sliderSizing {
  width: 200px;
}

/* color slider specifics (handle + bacground color) */
#red .ui-slider-range {
  background: #ef2929;
}

#red .ui-slider-handle {
  border-color: white;
  background-color: #ef2929
}

#green .ui-slider-range {
  background: #8ae234;
}

#green .ui-slider-handle {
  border-color: white;
  background-color: #8ae234;
}

#blue .ui-slider-range {
  background: #729fcf;
}

#blue .ui-slider-handle {
  border-color: white;
  background-color: #729fcf;
}

#slider .ui-slider-range {
  background: #e0e0e0;
}

/* pet scale slider */
#slider {
  margin-left: 8px;
  grid-column:  1/2

}

#slider .ui-slider-handle {
  border-color: white;
  background-color: #e0e0e0;
}


/* Sliders box height */
fieldset {
  height: 30vh;
  border: none;
}

.customizeTools{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30% 1fr;

}
.customizeTitles{
  grid-row:  1/2;
}

#petAcc{
  grid-column:  1/2;
  grid-row:  3/3;
  width: 60%;
  height: 70%;
}

#petMouth{
  grid-column:  1/2;
  grid-row:  4/4;
  width: 60%;
  height: 70%;
}


.colorSliders{
  grid-column:  2/2;
  grid-row:  2/2;

}


/* hide close button on dialog UI */
.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close {
  display: none;
}


/* change button color on cooldown */
.cooldown:disabled, .cooldown:disabled:hover, .cooldown2:disabled:hover, .cooldown2:disabled {
  background-color: #4a4a4a;
  color: #6d7175;
}

/* All buttons spacing */
.ui-button {
  margin-top: 15px;
}
