
#secret-document {
  font-family: Courier, monospace;
  color: #636773;
  font-size: 1rem;
  width: 80vw;
  margin: auto;
}

.revealed {
  color: #9e5555;
}

.important {
  color: #eb3f00;
}

.redacted {
  background-color: #242223;
  color: #242223;
  user-select: none;
}

body {
  background-color: black;
}

.box {
  width: 70vw;
  height: 2px;
  background-color: white;
}

button {
  background-color: #242223;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

button:hover {
  background-color: white;
  border: none;
  color: red;
}

.flicker{
  color: red;
}
