/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/

#poem {
  font-size: 1rem;
}

#answer {
  width: 30vw;
  height: 30vh;
  background-image: url("/assets/images/tongue.png");
 background-position: center;
 background-repeat: no-repeat;
  background-color: black;
}

.want {
  color: blue;
}

.reject {
  color: red;
}

img{
  width: 20%;
  height: 20%;
}
